@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;


}

#logo:hover {
    cursor: not-allowed;


}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.403);
    /* background-color: rgba(83,88,31, 0.403); */
    top: 40px;
    width: 900px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.input_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;

}

.link>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 1px;
    font-size: medium;
    padding: 5px 8px;
    /* transition: 0.1s; */


}

.link>a:hover {
    border: 1px solid rgb(150, 146, 146.0.01);
    border-radius: 20px;
    padding: 5px 8px;
    background-color: rgba(94, 184, 15, 0.33);
    backdrop-filter: blur(40px);
    box-shadow: 0px 8px 20px 0px rgba(94, 184, 15, 0.25);
    border-top: 1.5px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.2, 1.2);
}


.login_page {
    background-image: url(background_loginpage.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(background_loginpage.jpg);
}

.input>input {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    padding-left: 14px;
    width: 15vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.input>button {
    padding: 10px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
    margin-right: 25px;
    cursor: pointer;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    gap: 70px;


}

main>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main>div>h1 {
    color: rgb(255, 255, 255);
    font-size: 80px;

}

main>div>p {
    max-width: 700px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    top: 10;
}

main>button {
    border: none;
    border-radius: 10px;
    transition: 0.35s;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

main>button:hover {
    transform: scale(1.2, 1.2);
    /* box-shadow:  0px 0px 10px 10px rgba(94, 184, 15, 0.25); */
    box-shadow: 0 20px 32px 0 rgba(94, 184, 15, 0.3);
    background-color: rgba(94, 184, 15, 0.1);
    transition: 0.25s;
    color: white;
    border: 1px solid rgba(94, 184, 15);
    backdrop-filter: blur(5px);
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.5px);

}

main>button:active {
    transform: scale(1, 1);

}