@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    font-family: 'Cinzel';
    color: #5c452f;
    color: #6B4E31;
    font-weight: 700;
    text-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.37);
    display: flex;
    align-items: center;

}

#logo:hover {
    cursor: not-allowed;
}

#logo>img {
    height: 40px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.333);
    top: 40px;
    width: 900px;
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 1000;
}

.input_link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;

}

.link>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 1px;
    font-size: medium;
    padding: 5px 8px;



}

.link>a:hover {
    border: 1px solid rgb(150, 146, 146.0.01);
    border-radius: 20px;
    padding: 5px 8px;
    background-color: rgba(94, 184, 15, 0.33);
    background-color: rgba(107, 78, 48, 0.43);
    backdrop-filter: blur(30px);
    box-shadow: 0px 8px 20px 0px rgba(94, 184, 15, 0.15);
    border-top: 1.5px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.2, 1.2);

}


.login_page {
    background-image: url(background_loginpage.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(background_loginpage.jpg);
}

.input>input {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    padding-left: 14px;
    width: 12vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.input>button {
    padding: 10px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
    margin-right: 25px;
    cursor: pointer;
}

.input>button:active {
    background-color: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(15px);
    /* color: white; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    gap: 70px;


}

main>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main>div>h1 {
    color: rgb(255, 255, 255);
    /* color: #6E6259; */
    font-size: 80px;

}

main>div>p {
    max-width: 700px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    top: 10;
}

main>button {
    border: none;
    border-radius: 10px;
    transition: 0.35s;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

main>button:hover {
    transform: scale(1.2, 1.2);
    /* box-shadow:  0px 0px 10px 10px rgba(94, 184, 15, 0.25); */
    box-shadow: 0 20px 32px 0 rgba(94, 184, 15, 0.3);
    background-color: rgba(94, 184, 15, 0.1);
    transition: 0.25s;
    color: white;
    border: 1px solid rgba(94, 184, 15, 0.8);
    backdrop-filter: blur(5px);
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.5px);

}

main>button:active {
    transform: scale(1, 1);

}


.page2 {
    background-image: url(background-page2.jpg);
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(background-page2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.page2>section {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 500px);
    gap: 70px;
    /* border: 2px solid blue; */
    height: auto;
    margin-top: 60px;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 1;

}

.dinogrid {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgb(0, 0, 0,0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0 15px 32px  rgba(0, 0, 0, 0.37);
    gap: 15px;

}
.dinogrid>img{
    width: 99%;
    height: 48%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    transition: all 0.9s ease-in-out;
}
.dinogrid:hover{
    transform: scale(1.1, 1.1);
    /* transition: 0.12s; */

}
.dinogrid>h1{
    color: rgb(255, 255, 255);
    font-family: 'Cinzel';
    font-weight:bolder;
    font-size:30px;
}
.dinogrid>ul{
    color: white;
    padding-left: 15px;
    width: 90%;  
}
.dinogrid>ul>li{
    margin-bottom: 10px;
    font-size: 18px;
}


#heading-page2 {
    margin-top: 40px;

}

#heading-page2>h1 {
    font-size: 70px;
    color: #a46f3b;
   
    font-family: 'Cinzel';
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.page3 {
    background-image: url(background-page3.jpg);
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(background-page3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.page3>section {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 500px);
    gap: 70px;
    /* border: 2px solid blue; */
    height: auto;
    margin-top: 60px;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 1;

}

.fossile-grid {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgb(0, 0, 0,0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0 15px 32px  rgba(0, 0, 0, 0.37);
    gap: 12px;

}
.fossile-grid>img{
    width: 99%;
    height: 42%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.fossile-grid:hover{
    transform: scale(1.1, 1.1);
    transition: 0.12s;

}
.fossile-grid>h1{
    color: rgb(255, 255, 255);
    font-family: 'Cinzel';
    font-weight:bolder;
    font-size:30px;
}
.fossile-grid>ul{
    color: white;
    padding-left: 15px;
    width: 90%;  
}
.fossile-grid>ul>li{
    margin-bottom: 10px;
    font-size: 18px;
}


#heading-page3 {
    margin-top: 40px;

}

#heading-page3>h1 {
    font-size: 70px;
    /* color: rgb(33,33,33); */
    color: #a46f3b;
    font-family: 'Cinzel';
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}




.About{
    background-color:  rgb(33,33,33);
    height: 330px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.About>*{
    padding: 30px;
    
}
.About>#info>h4{
    color: white;
    margin-bottom:20px ;
}
.About>#info>p{
    color: white;
    margin-bottom: 20px;
    width: 100%;
}
.About>#info{
    width: 85%
}

.icons{
    border-left:  1px solid white;
    width: 30%;
    height: 250Px;
    /* margin: auto; */
    margin-left: 0px;
    margin-top: 20px;
}
.icons>a>img{
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 40px;
}

